@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 100%;

  .tab-list {
    @include flex();
    margin-bottom: 3rem;
    text-transform: capitalize;
    height: 5.5rem;
    padding: 0.5rem;
    color: var(--color-primary);
    border-radius: 30px;
    box-shadow: 0 0 5px 2px var(--color-shadow-grey);
  }

  .tab-selector {
    cursor: pointer;
  }

  .active {
    @include flex();
    background-color: var(--color-primary);
    height: 100%;
    border-radius: 30px;
    color: #fff;
  }

  .tab-selector {
    width: 50%;
    text-align: center;
  }

  .tab-selector,
  .tab-content {
    transition: var(--transition-prop);
  }
}
