.badge {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: var(--shadow-prop) var(--color-shadow-grey);

  &.large {
    width: 9rem;
    height: 3.5rem;
  }

  &.medium {
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  &.small {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
  }

  &.colored {
    background-color: var(--color-accent);
    color: #fff;
    box-shadow: var(--shadow-prop) var(--color-shadow-accent);
  }
}
