.btn {
  display: block;
  background-color: #fff;
  box-shadow: var(--shadow-prop) var(--color-shadow-grey);

  &.large {
    width: 24.8rem;
    height: 5.5rem;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }

  &.medium {
    width: 13.5rem;
    height: 4.5rem;
  }

  &.small {
    width: 9.5rem;
    height: 4.3rem;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-prop) var(--color-shadow-primary);
  color: #fff;
}
