.btn-icon {
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 0.7rem;
  box-shadow: var(--shadow-prop) var(--color-shadow-primary);

  &.large {
    max-width: 17rem;
    height: 5.3rem;

    .icon {
      max-width: 4rem;
      margin-right: 1.5rem;
    }
  }

  &.small {
    max-width: 12rem;
    height: 4.3rem;

    .icon {
      max-width: 3rem;
      margin-right: 0.5rem;
      margin-right: 1rem;
    }
  }
}
