:root {
  --color-primary: #fe724c;
  --color-accent: #ffc529;
  --color-text: #1a1d26;
  --color-grey: #9a9fae;
  --color-error: #fe2749;
  --color-shadow-grey: rgba(153, 158, 173, 0.5);
  --color-shadow-primary: rgba(254, 115, 76, 0.5);
  --color-shadow-accent: rgba(255, 197, 41, 0.5);
  --shadow-prop: 0 5px 15px -3px;
  --transition-prop: var(--transition-prop);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--color-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: unset;
  text-decoration: none;
}

.custom {
  button {
    width: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: var(--transition-prop);
    margin-bottom: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 30px;
  }

  button:active {
    transform: scale(0.95);
  }

  li {
    list-style: none;
  }

  .error-message {
    margin-bottom: 1rem;
    color: var(--color-error);
    animation: shake 0.2s none;
  }

  .form {
    background-color: #fff;
    width: 100%;
    min-width: 700px;
    padding: 2rem;
    margin: 2rem;
    max-width: 700px;
    border-radius: 10px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-1x2 {
  grid-template-columns: 1fr;
}

.modal-content {
  background-color: white;
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  padding: 2rem;
  border-radius: 2rem;
  max-height: 90vh;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
